.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: bisque;
  border-radius: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.macros {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: lightblue;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;

}

.totals p, .totals label, .totals input {
  font-size: 1.5em;
  font-weight: bold;
}

input {
  text-align: center;
  border-radius: 10px;
  font-size: 1.2em;
}

.protein, .carb, .fat {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  min-width: 280px;
  max-width: 400px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.protein p, .carb p, .fat p {
  padding: 0;
  margin: 0;
}

.protein label, .carb label, .fat label {
  font-weight: bold;
}

.meals {
  margin: 20px;
  background-color: azure;
  padding: 20px;
  border-radius: 10px;
  font-size: .75em;
}

.spacer {
  padding: 10px;
  border-radius: 10px;
}

.EC {
  background-color: lightblue;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 800px;
}

.EC label {
  font-size: .66em;
  padding: 10px;
}