.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: bisque;
  border-radius: 10px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.macros {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: lightblue;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
}

.totals p, .totals label, .totals input {
  font-size: 1.5em;
  font-weight: bold;
}

input {
  text-align: center;
}

.protein, .carb, .fat {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.protein p, .carb p, .fat p {
  line-height: 0%;
}

.meals {
  margin: 20px;
  background-color: azure;
  padding: 20px;
  border-radius: 10px;
  font-size: .75em;
}

.spacer {
  padding: 10px;
  border-radius: 10px;
}